.LoginPageMain {
  .LoginPageMain_link {
    text-decoration: none;
    .logo {
      color: red;
      font-size: 3rem;
      font-weight: bold;
      padding-left: 3rem;
      padding-top: 1rem;
    }
  }
}
