.InitPageContent {
  height: 100%;
  width: 100%;
  background-color: black;
  .tv,
  .phone,
  .device {
    background-color: black;
    border-bottom: 0.5rem solid #424242;
    height: 50%;
    width: 100%;
    display: flex;
    .tv_text,
    .device_text {
      position: relative;
      left: 20%;
      top: 30%;
      width: 27%;
      .text1,
      .text2 {
        color: white;
      }
      .text1 {
        font-size: 3rem;
        font-weight: bold;
      }
      .text2 {
        margin-top: 2rem;
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
    .tv_img {
      position: relative;
      right: -25%;
      top: 17%;
      height: 65%;
      width: 30%;
    }
  }

  .phone {
    .phone_text {
      width: 30%;
      position: relative;
      right: -35%;
      top: 30%;
      .text1,
      .text2 {
        color: white;
      }
    }
    .text1 {
      font-size: 3rem;
      font-weight: bold;
      line-height: 4.5rem;
    }
    .text2 {
      margin-top: 2rem;
      font-size: 1.5rem;
    }
    .phone_img {
      position: relative;
      left: 21%;
      top: 17%;
      height: 75%;
      width: 20%;
    }
  }

  .device {
    .device_text {
      width: 25%;
      .text1 {
        line-height: 4.5rem;
      }
    }
    .device_img {
      position: relative;
      right: -28%;
      top: 17%;
      height: 75%;
      width: 30%;
    }
  }
}
