@import './_reset.scss';
@import './InitPage/_InitPageHeader.scss';
@import './InitPage/InitPageEmailInput';
@import './InitPage//InitPageContent';

* {
  box-sizing: border-box;
}

html,
body,
#root,
.App,
.InitPage {
  height: 100%;
  width: 100%;
}

.InitPage {
  background-color: black;
}
